*{
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	color: #000;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
body {
	height: 100%;
	margin: 0;
	font-family: "OpenSans";
}

@font-face {
	font-family: "OpenSans";
	src: url("../fonts/OpenSans/opensans.eot");
	src: local('O'),
	url("../fonts/OpenSans/opensans.eot?") format("embedded-opentype"),
	url("../fonts/OpenSans/opensans.woff") format("woff"),
	url("../fonts/OpenSans/opensans.woff2") format("woff2"),
	url("../fonts/OpenSans/opensans.ttf") format("truetype"),
	url("../fonts/OpenSans/opensans.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Glyphicons Halflings';
	src: url('../bootstrap/fonts/glyphicons-halflings-regular.eot');
	src: url('../bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
	url('../bootstrap/fonts/glyphicons-halflings-regular.woff2') format('woff2'),
	url('../bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'),
	url('../bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
	url('../bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

@font-face {
	font-family: 'FontAwesome';
	src: url('../bootstrap/fonts/fontawesome-webfont.eot');
	src: url('../bootstrap/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
	url('../bootstrap/fonts/fontawesome-webfont.woff2') format('woff2'),
	url('../bootstrap/fonts/fontawesome-webfont.woff') format('woff'),
	url('../bootstrap/fonts/fontawesome-webfont.ttf') format('truetype'),
	url('../bootstrap/fonts/fontawesome-webfont.svg') format('svg');
}


a img {
	border: none;
	outline: none !important;
}
a{
	outline: none !important;  /* убирает обводку у кнопок и ссылок */
}

a:hover, a:active {
	outline: 0;
}

.image_hover {
	position: absolute;
}
.image_upper {
	position: relative;
}
.image_upper:hover {
	opacity: 0;
}

/* для iphone - убирает автоматическое откругление уголов */
input[type="text"],input[type="password"], textarea{
	border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	-o-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	-khtml-border-radius: 0 !important;
	-webkit-appearance: none;
	line-height: inherit;
}

/*input[type="radio"] {*/
	/*-webkit-appearance: radio;*/
/*}*/

.container{
	width: 100%;
	max-width: 1460px;
	padding: 0 4%;
	margin: auto;
	/*border: 1px solid red;*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

footer{
	width: 100%;
	max-width: 1920px;
	background: wheat;
	height: 100px;
	margin: 0 auto -100px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.wrapper{
	min-height: 100%;
	width: 100%;
	max-width: 1920px;
	margin: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*вспомогательные модификации*/

.main{
	padding-bottom: 100px;
}

.pinkColor{
	color: #a54e72;;
}

/*.verticalBlock {*/
	/*border: 1px solid #a54e72;*/
	/*display:-moz-inline-box;*/
	/*display:inline-block;*/
	/*vertical-align:middle;*/
	/*zoom:1;*/
	/*//display:inline;*/
/*}*/
/*.helper {*/
	/*display:-moz-inline-box;*/
	/*display:inline-block;*/
	/*vertical-align:middle;*/
	/*height:100%;*/
	/*width:0px;*/
	/*zoom:1;*/
	/*//display:inline;*/
/*}*/


/*header*/

header{
	padding: 10px 0;
}


.wrapLogo{
	line-height: 100px;
}

.wrapLogo img{
	max-width: 90%;
	min-width: 200px;
	padding: 0;
	vertical-align: middle;
}

.phoneBlock{
	font-size: 15px;
	margin: 3px auto 0;
	max-width: 210px;
}

.phoneBlock p{
	margin: 0 0 5px;
}

.phoneBlock .phone{
	font-size: 24px;
}

.buttonCallBack{
	cursor: pointer;
	border: 1px solid #a54e72;
	max-width: 205px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	border-radius:5px;
}

.buttonCallBack a{
	display: block;
	text-decoration: none;
	color: #a54e72;
	font-size: 13px;
	padding: 5px 15px;
	text-align: center;
}

.contactsBlock{
	/*border: 1px solid #ffc525;*/
	text-align: right;
	margin: 3px auto 0;
}

.contactsBlock p:nth-child(odd){
	margin: 0 0 2px;
}


.contactsBlock .pinkColor{
	font-weight: bold;
}

/*menu*/

.navbar{
	background: #488ba7;
	border-radius: 0;
	margin: 0;
}
.nav>li>a:hover, .nav>li>a:focus, .navbar li a:focus, .nav .open>a,.nav a:hover .nav .open>a:hover, .nav .open>a:focus{
	background: #6da2b9;
}


.navbar li a{
	color: white;
}

.dropdown-menu>li>a:hover{
	color: #545454;
}
.dropdown-menu{
	background: rgba(109, 162, 185, 0.61);
	box-shadow: none;
	border-radius: 0;
	border: 1px solid rgba(109, 162, 185, 0.50);
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus{
	background: inherit;
}

.search{
	float: right;
}

/*slider*/
.bx-wrapper .bx-viewport{
	box-shadow: none;
}

.bxslider .container{
	position: relative;
}

.doctorImg{
	position: absolute;
	z-index: 99;
	bottom: 0;
	left: 15%;
	width: 30%;
}

.contentSlider{
	position: absolute;
	z-index: 99;
	bottom: 0;
	right: 15%;
	width: 40%;
	text-align: center;
}

.textSlider{
	background: rgba(255, 255, 255, 0.5);
	padding: 5px 20px 20px;
	margin-bottom: 20%;
}

.contentSlider h1{
	font-weight: bold;
	font-size: 26px;
	margin: 25px 0 20px;
}

.contentSlider p{
	font-size: 20px;
	margin: 0;
}

.doctorImg img{
	width: 100%;
}

img.laptop{
	display: none ;
}

.buttonSlider{
	background: #a54e72;
	color: white;
	border: none;
	padding: 12px 15px;
	margin-bottom: 15%;
	-webkit-box-shadow: 0px 5px 0px 0px rgba(122, 62, 87, 0.95);
	-moz-box-shadow: 0px 5px 0px 0px rgba(122, 62, 87, 0.95);
	box-shadow: 0px 5px 0px 0px rgba(122, 62, 87, 0.95);
}

.buttonSlider:hover{
	color: white;
}