* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	color: #000;
	/*-webkit-text-size-adjust: 100%;*/
	/*-ms-text-size-adjust: 100%;*/
}

body {
	height: 100%;
	margin: 0;
	font-family: "OpenSans";
}

@font-face {
	font-family: "OpenSans";
	src: url("../fonts/OpenSans/opensans.eot");
	src: local('O'),
	url("../fonts/OpenSans/opensans.eot?") format("embedded-opentype"),
	url("../fonts/OpenSans/opensans.woff") format("woff"),
	url("../fonts/OpenSans/opensans.woff2") format("woff2"),
	url("../fonts/OpenSans/opensans.ttf") format("truetype"),
	url("../fonts/OpenSans/opensans.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Glyphicons Halflings';
	src: url('../bootstrap/fonts/glyphicons-halflings-regular.eot');
	src: url('../bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
	url('../bootstrap/fonts/glyphicons-halflings-regular.woff2') format('woff2'),
	url('../bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'),
	url('../bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
	url('../bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

@font-face {
	font-family: 'FontAwesome';
	src: url('../bootstrap/fonts/fontawesome-webfont.eot');
	src: url('../bootstrap/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
	url('../bootstrap/fonts/fontawesome-webfont.woff2') format('woff2'),
	url('../bootstrap/fonts/fontawesome-webfont.woff') format('woff'),
	url('../bootstrap/fonts/fontawesome-webfont.ttf') format('truetype'),
	url('../bootstrap/fonts/fontawesome-webfont.svg') format('svg');
}

a img {
	border: none;
	outline: none !important;
}

a {
	outline: none !important; /* убирает обводку у кнопок и ссылок */
}

a:hover, a:active {
	outline: 0;
}

.image_hover {
	position: absolute;
}

.image_upper {
	position: relative;
}

.image_upper:hover {
	opacity: 0;
}

/* для iphone - убирает автоматическое откругление уголов */
/*input[type="text"],input[type="password"], textarea{*/
/*border-radius: 0 !important;*/
/*-webkit-border-radius: 0 !important;*/
/*-o-border-radius: 0 !important;*/
/*-moz-border-radius: 0 !important;*/
/*-khtml-border-radius: 0 !important;*/
/*-webkit-appearance: none;*/
/*line-height: inherit;*/
/*}*/

/*input[type="radio"] {*/
/*-webkit-appearance: radio;*/
/*}*/

.container {
	width: 100%;
	max-width: 1460px;
	margin: auto;
	/*border: 1px solid red;*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

footer {
	width: 100%;
	max-width: 1920px;
	background: wheat;
	height: 100px;
	margin: 0 auto -100px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.wrapper {
	min-height: 100%;
	width: 100%;
	max-width: 1920px;
	margin: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*вспомогательные модификации*/
.helper {
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	width: 0;
}

.main {
	padding-bottom: 100px;
}

.row {
	margin-left: 20px;
	margin-right: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.pinkColor {
	color: #a54e72;;
}

h2 {
	margin: 0;
	text-align: center;
	padding: 40px 0;
	font-size: 30px;
	font-weight: bold;
}

/*header*/

header {
	padding: 10px 0;
}

.wrapLogo {
	line-height: 100px;
}

.wrapLogo img {
	max-width: 90%;
	min-width: 200px;
	padding: 0;
	vertical-align: middle;
}

.phoneBlock {
	font-size: 15px;
	margin: 3px auto 0;
	max-width: 210px;
}

.phoneBlock p {
	margin: 0 0 5px;
}

.phoneBlock .phone {
	font-size: 24px;
}

.buttonCallBack {
	cursor: pointer;
	border: 1px solid #a54e72;
	max-width: 205px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}

.buttonCallBack a {
	display: block;
	text-decoration: none;
	color: #a54e72;
	font-size: 13px;
	padding: 5px 15px;
	text-align: center;
}

.contactsBlock {
	text-align: right;
	margin: 3px auto 0;
	min-width: 225px;
}

.contactsBlock p:nth-child(odd) {
	margin: 0 0 2px;
}

.contactsBlock .pinkColor {
	font-weight: bold;
}

/*menu*/

.mobileMenu {
	display: none;
}

.mobileMenu .navbar-nav > li {
	width: 100%;
	display: block;
}

.mobileMenu .navbar-nav {
	margin-top: 55px;
}

.navbar {
	background: #488ba7;
	border-radius: 0;
	margin: 0;
}

.navbar .container {
	padding: 0 20px;
}

.nav > li > a:hover, .nav > li > a:focus, .navbar li a:focus, .nav .open > a, .nav a:hover .nav .open > a:hover, .nav .open > a:focus {
	background: #6da2b9;
}

.navbar li a {
	color: white;
}

.dropdown-menu > li > a:hover {
	color: #545454;
}

.dropdown-menu {
	background: rgba(109, 162, 185, 0.61);
	box-shadow: none;
	border-radius: 0;
	border: 1px solid rgba(109, 162, 185, 0.50);
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	background: inherit;
}

.navbar-form .form-control {
	width: 250px;
}

.navbar-form {
	box-shadow: none;
}

.search {
	float: right;
}

.searchHeader {
	display: none;
	margin: 15px 10px 10px;
}

.searchHeader input {
	border: 1px solid #488ba7;
}

.fa-bars {
	color: white;
	font-size: 35px;
	padding-top: 11px;
	padding-right: 10px;
	float: right;
	cursor: pointer;
	display: none;
}

/*slider*/
.bx-wrapper .bx-viewport {
	box-shadow: none;
}

.bxslider .container {
	position: relative;
}

.doctorImg {
	position: absolute;
	z-index: 99;
	bottom: 0;
	left: 15%;
	width: 30%;
}

.contentSlider {
	position: absolute;
	z-index: 99;
	bottom: 0;
	right: 15%;
	width: 40%;
	text-align: center;
}

.textSlider {
	background: rgba(255, 255, 255, 0.5);
	padding: 5px 20px 20px;
	margin-bottom: 15%;
}

.contentSlider h1 {
	font-weight: bold;
	font-size: 26px;
	margin: 25px 0 20px;
	color: #7a3e57;
}

.contentSlider p {
	font-size: 20px;
	margin: 0;
}

.doctorImg img {
	width: 100%;
}

img.laptop {
	display: none;
}

img.mobile {
	display: none;
}

img.mobilePortrait {
	display: none;
}

span.mobilePortrait {
	display: none;
}

.buttonSlider {
	background: #a54e72;
	color: white;
	border: none;
	padding: 12px 15px;
	margin-bottom: 25%;
	-webkit-box-shadow: 0 5px 0 0 rgba(122, 62, 87, 0.95);
	-moz-box-shadow: 0 5px 0 0 rgba(122, 62, 87, 0.95);
	box-shadow: 0 5px 0 0 rgba(122, 62, 87, 0.95);
}

.buttonSlider:hover {
	color: white;
}

.bx-wrapper {
	margin: 0 auto;
}

/*reasonsBlock*/

.reasonsBlock {
	width: 100%;
	/*height: 150px;*/
	background: #488ba7;
	color: white;
	text-align: center;
}

.reasonsBlock h3 {
	padding: 15px 0 25px;
	font-size: 20px;
	font-weight: bold;
}

.reasonsBlock p {
	font-size: 18px;
	padding-bottom: 40px;
}

.textReasons {
	max-width: 220px;
	margin: auto;
}

/*centreKingisepp*/

.contentCentreKingisepp {
	width: 100%;
	max-width: 480px;
	margin: auto;
	padding: 0 10px;
}

.contentCentreKingisepp p {
	font-size: 16px;
}

.centreKingisepp img {
	width: 100%;
	padding-bottom: 20px;
}

.itemInfo {
	background: #f6f8f9;
	margin: 30px auto;
	height: 100px;
	width: 300px;
	text-align: center;
}

.imgIcon{
	width: 70px;
	text-align: center;
	padding-top: 25px;
}

.itemInfo .pinkColor{
	font-weight: bold;
	display: inline-block;
	width: 155px;
}

.imgIcon img {
	max-height: 70px;
	width: auto;
}

.alignItemInfo{
	display: inline-block;
}

.textItemInfo {
	margin-left: 70px;
	margin-top: -70px;
	text-align: left;
	font-size: 18px;
}

/*enrollBlock*/

.enrollBlock{
	width: 100%;
	background: url("../image/enrollBackg.png") no-repeat;
	background-size: cover;
}

.enrollBlock h2{
	color: #488ba7;
	padding: 40px 0 60px;
}

.circle, .circleLast{
	width: 62px;
	height: 62px;
	background: #ffffff;
	-moz-border-radius: 31px;
	-webkit-border-radius: 31px;
	border-radius: 31px;
	border: 1px solid #488ba7;
	text-align: center;
	position: relative;
}

.circleMobile{
	display: none;
	position: relative;
	width: 42px;
	height: 42px;
	-moz-border-radius: 21px;
	-webkit-border-radius: 21px;
	border-radius: 21px;
	background: #ffffff;
	border: 1px solid #488ba7;
	text-align: center;
}

.circle span, .circleLast span{
	display: inline-block;
	text-align: center;
	margin: auto;
	font-size: 26px;
	font-weight: bold;
	color: #488ba7;
	padding-top: 10px;
}

.circleMobile span{
	display: inline-block;
	text-align: center;
	margin: auto;
	font-size: 26px;
	font-weight: bold;
	color: #488ba7;
	padding-top: 1px;
}

.circle:after{
	background: url("../image/arrow2.png") no-repeat;
	height: 70px;
	width: 50px;
	content: " ";
	text-align: center;
	line-height: 42px;
	float: right;
	position: relative;
	top: 13px;
	left: 8px;
}

.itemPoint{
	width: 64px;
	height: 119px;
}

.alignEnroll{
	max-width: 920px;
	margin: auto;
}

.alignEnroll:after, .alignEnroll:before{
	clear: both;
	content: " ";
	display: table;
}

.numberPoint{
	 float: left;
}

.textEnroll{
	float: left;
	margin-left: 20px;
	margin-top: -20px;
}

.textItemEnroll{
	background: rgba(249, 251, 253, 0.7);
	max-width: 830px;
	padding: 20px 0;
	font-size: 18px;
	margin-bottom: 20px;
	height: 100px;
}

.textItemEnroll p{
	display:inline-block;
	vertical-align:middle;
	padding: 0 10px;
}

.textItemEnroll span{
	font-weight: bold;

}

.additionalInfo{
	font-size: 14px;
	color: #a54e72;
	width: 585px;
	margin: 0 auto 30px;
	font-weight: bold;
}

.additionalInfo .circleSmall{
	width: 20px;
	height: 20px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 15px;
	border: 1px solid #a54e72;
	text-align: center;

}

.circleSmall, .additionalInfo p{
	display: inline-block;
}

